@using Microsoft.AspNetCore.Identity
@using RestaurantManagement.Data.Entities
@{
    ViewData["Title"] = "Home Page";
}
@inject UserManager<Customer> _userManager;

@{
    var currentCustomer = await _userManager.GetUserAsync(User);
    var currentCustomerFullName = currentCustomer.FullName;
}

<div class="text-center">
    <h1 class="display-4">Welcome @currentCustomerFullName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@section Scripts{
    <script>
        function add(a, b){
            return a+b;
        }
    </script>
}